
swiper-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.swiper-slide {
  width: 100%;
  background-color: #fff;
}

.swiper-slide-active {
  color: #fff;
  background-color: #fff;
}

.content-container {
  position: relative;

  display: flex;
  overflow: auto;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: stretch;
  padding: 16px 24px;
  margin: 8px 16px;
  border-radius: 4px;

  background-color: #fff;
}

.vertical-container {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  align-items: stretch;
}

.box-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 800px;
  height: 500px;
  max-width: 90%;
  max-height: 90%;
  padding: 24px;
  margin: 24px auto;
  border-radius: 4px;

  color: #555;
  font-family: sans-serif;
  box-shadow:
    0 6px 20px rgba(0, 0, 0, 0.18),
    0 6px 6px rgba(0, 0, 0, 0.25);
  background-color: #eee;
}
